.hero {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 0px;
}
.blob > div {
    position: relative;
    width: 50px;
    height: 44px;
}
.blob {
    position: absolute;
    top: 15%;
    width: fit-content;
    height: fit-content;
    visibility: hidden;
}
.caption {
    margin-left: 70px;
    width: 40%;
    margin-top: 45px;
}
.caption:nth-child(2) {
    margin-top: 60px !important;
}
.caption h1 {
    font-size: 45px;
    line-height: 1.2;
    font-weight: 550;
}
.left  { float: left  }
.right { float: right }
.caption p {
    font-weight: 100;
    margin-top: 40px;
}
.caption button {
    border: none;
    background-color: #FFB703;
    color: black;
    padding: 20px 20px;
    margin-top: 40px;
    font-weight: bold;
}
@media screen and (max-width:820px) {
    .caption {
        /* width:60%; */
    }
}
@media screen and (max-width:540px) {
    .sect {
        /* height: 500px !important; */
        background-position: bottom;
    }
    .caption {      /* what both slides share on small screens */
    width: 85%;
    margin-top: 60px;
  }

  .left  { float: left;  margin-left: 10px;  }
  .right { float: right; margin-right: 10px; }
  .caption button{
    margin-block: 10px;
  }
  .caption p{
    margin-top: 20px;
  }
}
@media screen and (max-width:510px) {
    .caption {
        width:60%;
        margin-left: 80px;
    }
    .caption h1 {
        font-size: 35px;
    }
    .blob {
        display: none;
    }
}
@media screen and (max-width:510px) {
    .caption {
        width: 60%;

    }
}
@media screen and (max-width:375px) {
    .caption h1 {
        font-size: 32px;
    }
    .caption {
        margin-left: 25px;
    }
}

.responsive-text-wrapper {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .responsive-text-wrapper {
    justify-content: center;
  }

  .responsive-text-wrapper p {
    text-align: center;
    width: 100%;
    max-width: 200px;
  }
}